header{
    background: linear-gradient(rgb(113, 197, 223), rgb(119, 189, 102));
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

nav{
    background: linear-gradient(rgb(119, 189, 102), rgb(166, 192, 137));
    text-align: center;
    padding: 20px;
}

footer{
    background: linear-gradient(rgb(166, 192, 137), rgb(213, 223, 130));
    text-align: center;
    padding: 20px;
}

img{
    border-radius: 50%;
    outline: solid;
    outline-width: 2px;
    outline-color: rgb(66, 66, 66);
}